.table .table-scroll {
  overflow-x: auto;
}

.table table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table th,
.table td {
  padding: 16px;
  vertical-align: top;
  border-top: 1px solid var(--uom-grey-border);
}

.table tr:last-child td {
  border-bottom: 1px solid var(--uom-grey-border);
}

.table th {
  font-weight: 600;
  color: var(--heading-color);
}

.table :is(th, td) > :first-child {
  margin-top: 0;
}

.table :is(th, td) > :last-child {
  margin-bottom: 0;
}

.table td img {
  display: block;
  width: 100%;
  height: auto;
}

@media (width < 600px) {
  .table table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
  }

  .table thead {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
  }

  .table td {
    padding: 12px 0;
    border-top: 0;
  }

  .table tr {
    border-top: 1px solid var(--uom-grey-border);
  }

  .table tr:last-child td {
    border-bottom: 0;
  }

  .table td[data-label]::before {
    content: attr(data-label);
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
  }
}
